/* VARIABLE DECLARATIONS */
$primary:#004161;
$primaryGreen:#80db66;
$secondaryGreen:#0aff9d;
$grenishYellow:#c9f31d;
$brown:#CF7650;
$secondary:#E5B100;;
$tertiary: #DAF3FE;;
$black:#111;
$white:#FFFFFF;
$grey: #D9D9D9;
 $bg_color:#EAF8FE;
 $text:#11A692;
 $link:#005782;
 $dark_blue:#001520;
 $secondary_dark_blue:#022C3E;
 $error:#FE0707;
 $gold:#D4C00E;
$green:#008C49;
$banner_yellow:#FFBD00;
$inactive:#A3AED0;
$peacockgreen:#3bafe9;
$primarytext:#ebecf3;
$iconRose:#FF9EC2;
$iconGreen:#12E1B7;
